<section class="row"ng-controller="registerCtrl">
	<h3 class="col-md-12 text-center">Register a account</h3>
	<div class="col-xs-offset-2 col-xs-8 col-md-offset-5 col-md-2">
		<form ng-submit="register(user)">
						<p class="alert alert-danger"ng-show="message">{{message}}</p>
						<p class="alett alert-danger" ng-show="showmsg">{{message}}</p>
			 <div class="form-group">
			    <label for="exampleInputEmail1">Email address</label>
			    <input type="email" class="form-control" id="exampleInputEmail1" ng-model="user.email" placeholder="Email">
		 	 </div>
		  <div class="form-group">
			    <label for="exampleInputPassword1">Password</label>
			    <input type="password" class="form-control" id="exampleInputPassword1"ng-model="user.password" placeholder="Password">
		  </div>
		   <div class="form-group">
			    <label for="exampleInputPassword1">Username</label>
			    <input type="password" class="form-control" id="exampleInputPassword1"ng-model="user.username" placeholder="Username">
		  </div>
			<br>
			<br>
		<div class="form-group">
		<button type="submit" class="btn btn-success btn-lg btn-block">Sign up</button>
		</div>
		
		
	</form>
</div>
</section>